@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Teams>;

    <a class="btn btn-block btn-outline-secondary" href="/1">Home</a>
    @foreach (Teams x in Model)
    {
        <a class="btn btn-block @(x.TeamName == ViewBag.SelectedTeam ? "btn-primary" : "btn-outline-info")" asp-controller="Home" asp-action="Index" 
               asp-route-teamid="@x.TeamId"
               asp-route-teamname="@x.TeamName">@x.TeamName</a>
    }
